
body {
	/* background-image: url('space2.png'); */
	color: #fff;
	/* background-repeat: no-repeat;
	background-size: cover;
	background-position: center; */
	background: url('space4.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

/* Hangman */
h1 {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 4.5em;
	color: #fff;
}

/* Space Theme */
h2 {
	text-align: center;
	color: #86d6d6ff;
	font-family: 'Amatic SC', cursive;
	font-size: 3em;
}

/* Game area */
.game {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	line-height: 1.75;
	text-align: center;
}

/* Instructions */
#start {
	font-family: 'Amatic SC', cursive;
	font-style: italic;
}

/* Game area titles */
h4 {
	font-size: .75em;
}

#word-spaces {
	font-family: 'Amatic SC', cursive;
}

#incorrect-guesses {
	font-family: 'Amatic SC', cursive;
}

p {
	font-family: 'Amatic SC', cursive;
}
